<!DOCTYPE html>
<html>
<head>
    <meta name ="viewport" content="with=device-width, initial-scale=1.0">
    <title>MIDTERM PROJECT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <section class="background">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href=""> Team Info</a>></li>
                    <li><a href="/register"> Register</a>></li>
                    <li><a href="/login"> Login</a>></li>
                </ul>

            </div>
        </nav>
        <div class = "title">
            <h1>DESIGN OF AN AUTOMATED WATERING SYSTEM <br> USING MACHINE LEARNING FOR MULTI-CROP FARMING</h1>
            <p> This project aims to create an automated multi-crop greenhouse watering system utilizing <br>
                machine learning that satisfies the client's demands while adhering to technical standards <br>
                and trade-offs based on recognized restrictions.<br> <br>

                This gadget can irrigate crops automatically depending on their age and kind. Instead <br>
                of returning to the facility for water, the employee may configure the device to process. <br> <br>
                
                Sensors monitor soil moisture to decide when to irrigate crops.<br>
                For each agricultural region (zone), a machine learning algorithm <br>
                was used to find trends in the watering history of the plants.<br>
                The soil moisture sensor will be used to monitor the soil.
            </p>
        </div>
    </section>


</body>
</html>